# / .DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
pnpm-lock.yaml
package-lock.json
yarn.lock

# /apps
apps/*/.DS_Store
apps/*/node_modules
apps/*/build
apps/*/.svelte-kit
apps/*/package
apps/*/.env
apps/*/.env.*
apps/*/!.env.example
apps/*/pnpm-lock.yaml
apps/*/package-lock.json
apps/*/yarn.lock

# /packages
packages/*/.DS_Store
packages/*/node_modules
packages/*/build
packages/*/.svelte-kit
packages/*/package
packages/*/.env
packages/*/.env.*
packages/*/!.env.example
packages/*/pnpm-lock.yaml
packages/*/package-lock.json
packages/*/yarn.lock

